<main>

  <app-developer></app-developer>

  <div class="content" role="main">
    <span>{{ title }} app is running!</span>
  </div>

  <div
    #fanatWrapper
    class="fanat-wrapper"
  >
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
</footer>
